body {
 margin: 0px;
 font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#wrapper {
  margin: auto;
  width: 980px;
}

#content {
  float: left;
  width: 630px;
  min-height: 100%;
  padding: 20px;
  padding-right: 30px;
  box-sizing: border-box;
  background: wheat;
}

#sidebar {
  float: right;
  box-sizing: border-box;
  padding: 20px;
  min-height: 100%;
  width: 350px;
  background: pink;
}

.clear {
  clear: both;
}
